<ion-header>
  <ion-toolbar>
    <ion-title>user-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!auth.token">
  <ion-button [href]="loginURL">Log In</ion-button>
</ion-content>
<ion-content *ngIf="auth.token">
    <ion-button [href]="logoutURL" (click)=auth.logout()>logout</ion-button> <!-- I had to do this in order for the logout to work,
    this creates a link in which directed by auth0 to include 'fernated'

    check auth.services.ts
    created build_logout_link() this function generates link includeing 'federated' and returnto= with client id.
    now log out works perfectly by including [href]='logoutURL which is defined in user-page.page.ts constructor, then calling the auth.logout()
    -->
<!--  <ion-button (click)="auth.logout()">Log Out</ion-button>-->
      <ion-item>
        <ion-label>Active JWT</ion-label>
        <ion-textarea [ngModel]="auth.token" name="Active JWT"></ion-textarea>
      </ion-item>
</ion-content>
